.navbar .menulinks #home-link{
  font-style:oblique;
  font-weight: bolder;
  color: var(--main-color-light-green);
  text-decoration: underline;
}

.main-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "about about"
    "education work";
  gap: 25px 25px;

  color: darkslategray;
  position: relative;
  top: 10px;
}
 

.about-me {
  grid-area: about;
  background-color: rgb(153, 206, 210, 0.5);
  margin-top: 10px;
  border-radius: 3vw;
}

.about-me h2, .education h2, .work h2 {
  text-align: center;
  font-size: 1.8rem;

}

.about-me .photo-intro-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-me .photo-intro-container #profile-photo {
  width: 160px;
  height: 181px;
  margin-right: 10px;
  transition: 0.5s;
}
.about-me .photo-intro-container #profile-photo:hover {
  width: 160px;
  height: 181px;
}



.about-me .photo-intro-container #self-intro p{
  max-width: 65ch;
  margin-top: 0;
  padding: 0 5px;
  font-size: 1.2rem;
}

.about-me .photo-intro-container #self-intro p:first-of-type{
  font-weight: 900;
}

.education {
  grid-area: education;
  background-color: var(--main-color-pink);
}

.work {
  grid-area: work;
  background-color: var(--main-color-light-blue);
}

.education, .work {
  padding: 0 15px;
  z-index: 0;
  border-radius: 5%;
  min-height: 500px;
}
  
.work-content {
  position: relative;
  top: 15%;
}


.school-block, .job-block {
  z-index: 1;
  box-shadow: inset 3px 3px 18px 1px rgb(150, 60, 102, 0.3);
  margin-top: 25px;
  padding: 10px 5px 0 10px;
  border-radius: 5%;
}

.job-block {
  box-shadow: inset 3px 3px 18px 1px rgba(0, 0, 255, 0.2);
  padding: 15px 5px 8px 10px;
}

.school-block:first-of-type,
.job-block:first-of-type{
  margin-top: 0;
}

.school-block:last-child,
.job-block:last-child {
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.school-title, .job-title{
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.school-title .header,
.job-title .header{
  margin: 0.5rem 0;
  font-size: 1.3rem;
}
.school-title .header {
  text-decoration: underline solid rgba(150, 60, 102) 3px;
}
.job-title .header{
  text-decoration: underline solid rgba(0, 0, 255, 0.7) 3px;
}


.school-title .location, 
.school-title .date,
.job-title .location,
.job-title .date {
  font-size: 0.9rem;
  font-style: italic;
  padding: 2%;
  text-align: end;
}

.school-content, .job-content{
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}

.school-content > div,
.job-content > div {
  margin-top: 2px;
}

.school-content img,
.job-content img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.3rem;
  position: relative;
  top: 0.3rem;
}

.school-content .bold,
.job-content .bold {
  font-weight: 900;
}

.school-content ul,
.job-content ul{
  margin-top: 0;
}


@media (max-width: 768px){

  .main-grid-container {
    grid-template-columns: 1.2fr 1fr;
    gap: 15px 10px;
   }

  .education, .work {
    padding: 10px;
    border-radius: 3vw;
  }

  .school-block .job-block {
    padding: 12px 3px 8px 10px;
  }

  .school-title .header,
  .job-title .header{
    font-size: 1.2rem;
  }

  .work-content {
    position: relative;
    top: 7%;
  }

}

@media (max-width: 460px){
 .main-grid-container {
   grid-template-columns: 1.2fr 1fr;
   gap: 10px 0;
  }

  .main-grid-container > * {
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .about-me .photo-intro-container {
    display:block;
    float: left;
  }

  .about-me .photo-intro-container #profile-photo {
    float: left;
  }

  .about-me .photo-intro-container #profile-photo:hover {
    width: 150px;
    height: 150px;
    float: left;
  }

  .school-title .header,
  .job-title .header{
    font-size: 1.3rem;
  }

  .education, .work {
    padding: 5px;
  }

}