.navbar .menulinks #hobbies-link{
  font-style:oblique;
  font-weight: bolder;
  color: var(--main-color-light-green);
  /* color: rgb(255, 174, 0); */
  text-decoration: underline;
}

.main-flex-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}



.video-container {
  /*16:9 ratio*/
  width: 500px;
  height: 281px;
}